
body {
  overflow: hidden;
  margin: 0px;
  background-color: black;
}

#instructions {
  background-color: rgba(0, 0, 0, 0.63);
  top: 50%;
  left: 50%;
  height: 500px;
  width: 600px;
  margin-top: -250px;
  margin-left: -300px;
  position: absolute;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-family: monospace;
  color: white;
  text-align: center;
  pointer-events: none;
  user-select: none;
}

#instructions a {
  color: white;
  pointer-events: auto;
}

#instructions button {
  font-size: 24px;
  pointer-events: auto;
}

kbd {
  padding: 1px 7px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: rgb(25, 33, 48);
  font-size: 19px;
  color: white;
  font-family: monospace;
  font-style: normal;
}

#spinner {
  left: 50%;
  margin-left: -4em;
  font-size: 1rem;
  border: 0.8em solid rgba(0, 0, 0, 1);
  border-left: 0.8em solid rgba(58, 166, 165, 1);
  animation: spin 1.1s infinite linear;
}
#spinner,
#spinner:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#timeDisplay {
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16vw;
  width: 16vw;
  margin-left: -8vw;
  margin-top: -50vh;
  font-size: 8vh;
  color: rgba(35, 45, 77, 0.788);
  text-shadow: 2px 2px 0 #7d9fb3;
  text-align: center;
  display: none;
}

#levelCompleted {
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 32vw;
  width: 32vw;
  margin-left: -16vw;
  margin-top: -30vh;
  font-size: 4vh;
  color: white;
  text-shadow: 2px 2px 0 #000;
  text-align: center;
}

.label {
  position: absolute;
  color: #fffb00;
  font-family: monospace;
  pointer-events: none;
  text-align: center;
  width: 75px;
  height: 25px;
  font-size: 1.5rem;
  filter: drop-shadow(2px 2px 1px #ff0000);
  display: none;
}

.fondo {
  background: url('/fondo/2151792461.jpg') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 10px;
  color: azure;
  border: 2px solid rgba(255, 255, 255, 0.521);
}